* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 1800px;
    margin: 0 auto;
}

.header__nav li {
    display: inline-block;
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header a {
    color: white;
}

.header {
    border-bottom: 1px black solid;
    background: #343434;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.signup {
    background: #e06149;
    color: white;
}


h5 {
    text-align: right;
}

.main {
    margin-top: 100px;
    min-height: 800px;
}

.main__row {
    padding-bottom: 5rem;
}
.main__form {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    margin: 0 auto;
}



h2 {
    margin: 0;
}
.main__content {
    text-align: center;
}

.password, .login{
    border: 1px solid #cdd0d1;
    padding: 20px;
    width: 460px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.password_check {
    border: 1px solid #cdd0d1;
    padding: 20px;
    width: 460px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.enter {
    background: #e06149;
    color: white;
    width: 220px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #e06149;
}


input {
    outline: none;
}

.posts {
    width: 800px;
    margin: 0 auto;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-author {
    font-weight: 600;
    font-size: 14px;
}

.comment-date {
    font-size: 14px;
    color: gray;
}

.footer {
    background: #343434;
    padding: 30px;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.footer__heading{
    text-align: center;
    color: white;
}

table {
    padding: 20px;
}

th {
    text-align: left;
    color: white;
    padding: 10px;
}
td {
    color: white;
    padding: 5px 10px; 
}

.footer__logos {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #e06149;
}



#like {
    background-color: black;
    -webkit-mask-image: url(images/like.svg);
    mask-image: url(images/like.svg);
}

#dislike {
    background-color: black;
    -webkit-mask-image: url(images/dislike.svg);
    mask-image: url(images/dislike.svg);
}

