{{ template "base" .}}
{{ define "main" }}
    <div class="main__row posts">
        {{ range $element := .Posts }}
            <div class="post__author" style="color: gray">
                {{ $element.Author }}
            </div>
            <div class="post__title">
                <h1 style="border-bottom: 1px solid gray">
                    {{ $element.Title }}
                </h1>
            </div>
            <div class="post__content">
                <p>
                    {{ $element.Content }}
                </p>
            </div>
            <div class="post__page" style="text-align: right">

                <li>
                    <a href="article/{{ $element.Id }}" style="color: #e06149">Читать статью</a>
                </li>
                    
                <li>
                    
                    Лайков: {{ $element.Likes }}

                </li>
                <li>
                    Дизлайков: {{ $element.Dislikes}}
                </li>
            </div>
            <br>
            <br>
        {{ end }}
       
    </div>
{{ end }}


