{{ template "base" .}}
{{ define "main" }}
    <div class="main__row" id="posts">
        {{ range .Posts }}
            <div class="post__author" style="color: gray">
                {{ .Author }}
            </div>
            <div class="post__title">
                <h1 style="border-bottom: 1px solid gray">
                    {{ .Title }}
                </h1>
            </div>
            <div class="post__content">
                <p>
                    {{ .Content }}
                </p>
            </div>
            <div class="post__page" style="text-align: right">
                <li>
                    <a href="#" style="color: #e06149">Читать статью</a>
                </li>
            </div>
            <br>
            <br>
        {{ end }}
    </div>
{{ end }}


