<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__row">
                    <div class="header__logo">
                        <h1><a href="/">FORUM</a></h1>
                    </div>
                    <div class="header__menu">
                        <nav class="header__nav">
                            <li>
                                <a href="/post">all posts</a>
                            </li>
                            <li>
                                <a href="#">liked posts</a>
                            </li>
                            <li>
                                <a href="#">unliked posts</a>
                            </li>
                        </nav>
                    </div>
                    <div class="header__auth">
                        <a href="/sign-in" class="button signin">Войти</a>
                        <a href="/sign-up" class="button signup">Регистрация</a>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="container">
                <div class="main__row">

                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="footer__row">

                </div>
            </div>
        </footer>
    </div>
</body>
</html>