{{template "base" .}}
               
{{ define "main" }}
<div class="main__row">
    <form action="" class="main__form" method="POST">
    <div class="main__heading">
        <h2>Зарегистрироваться</h2>
    </div>
    <div class="main__content">
        <p>Заполните необходимые поля для регистрации</p>
    </div>
        <input type="text" placeholder="Email" class="email" name="username">
        <input type="text" placeholder="Ваш пароль" class="password" name="password">
        <input type="submit" value="Зарегистрироваться" class="enter">
    </form>
</div>
{{ end }} 