{{template "base" .}}
               
{{ define "main" }}
<div class="main__row">
    <form action="" class="main__form" method="POST">
    <div class="main__heading">
        <h2>Авторизоваться</h2>
    </div>
    <div class="main__content">
        <p>Чтобы войти на сайт используйте ваш email и пароль, которые были указаны при регистрации (подписке) на сайт</p>
    </div>
    
        <input type="text" placeholder="Ваш логин" class="login" name="username">
        <input type="password" placeholder="Ваш пароль" class="password" name="password">
        <input type="submit" value="Войти" class="enter">
        <div class="main__forget">
            <p class="forget">Забыли пароль?</p>
        </div>

    </form>
</div>
{{ end }}