{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
   

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__row">
                    <div class="header__logo">
                        <h1><a href="/">FORUM</a></h1>
                    </div>
                    <div class="header__menu">
                        <nav class="header__nav">
                            <li>
                                <a href="/">Все посты</a>
                            </li>
                           
                            {{ if .IsAuth }}
                            <li>
                                <a href="/liked-posts">Лайкнутые посты</a>
                            </li>
                            <li>
                                <a href="/disliked-posts">Дизлайкнутые посты</a>
                            </li>
                            <li>
                                <a href="/create-post">Создать пост</a>
                            </li>
                            <li>
                                <a href="/my-posts">Мои посты</a>
                            </li>
                            {{ end }}
                        </nav>
                    </div>
                    {{ if not .IsAuth }}
                    <div class="header__auth">
                        <a href="/sign-in" class="button signin" style="color: black; background: white;">Войти</a>
                        <a href="/sign-up" class="button signup">Регистрация</a>
                    </div>
                    {{ else }}
                    <div class="header__profile">
                        <a href="/logout">Выйти</a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </header>
        <main class="main">
            <div class="container">
                    {{ template "main" .}}
            </div>
        </main>
        <footer class="footer"> 
            <div class="container">
                <div class="footer__row">
                    <div class="footer__content">
                        <div class="footer__heading">
                            <h2>Alem School</h2>
                            <p>Оффлайн школа обучения</p> 
                            <p>IT профессиям</p>
                        </div>
                        <div class="footer__info">
                            <table>
                                <tr>
                                  <th>Информация</th>
                                  <th></th>
                                  <th>Информация</th>
                                </tr>
                                <tr>
                                  <td>Сертификаты</td>
                                  <td>О нас</td>
                                  <td>Войти</td>
                                </tr>
                                <tr>
                                  <td>Справочники</td>
                                  <td>Соглашение</td>
                                  <td>Регистрация</td>
                                </tr>
                                <tr>
                                    <td>Реклама</td>
                                    <td>Карта сайта</td>
                                    <td>Обратная связь</td>
                                  </tr>
                              </table> 
                        </div>
                        <div class="footer__email">
                            <input type="text" placeholder="E-mail">
                            <input type="submit" value="Подписаться">
                        </div>
                    </div>
                   

                    <div class="footer__logos">
                        <h1>VK</h1>
                        <h1>Facebook</h1>
                        <h1>Twitter</h1>
                    </div>
                </div>
                
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="/static/main.js"></script>
   
</body>
</html>
{{end}}
